.QA h4 {
    margin: 0px;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    letter-spacing: 8px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Open Sans", sans-serif;
}
