#QA h4 {
    margin: 0px;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Open Sans", sans-serif;
}

#QA {
    padding: 30px 0;
    background-image: url(../img/shadow-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #f6f6f6;
    border-top: 1px solid #d2d3d4;
    border-bottom: 1px solid #d2d3d4
}

.btn-theme-dark {
    background-color: #333;
    color: #fff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.btn {
    font-weight: 600;
    letter-spacing: 0px;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
   
}

.nav-tabs {
 border-bottom:none !important;   
}
.QA li {
    float:right;
}

.QA li.active a {
    color: #500000;
    border-left-color: #eee;
    border-right-color: #eee;
    background: #fff;
    border-top: 2.5px solid #500000;
}

.QA li a {
    background:rgba(128, 128, 128, 0.15);
    margin-right: 2px;
    border-left: 1px solid #f7f7f7;
    border-right: 1px solid #f7f7f7;
    border-bottom: none !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    padding: 12px 20px;
    color: #6d6d6d;
    position: relative;
    border-top: 2.5px solid #6d6d6d;
}
