@{
    ViewBag.Title = "ResetForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="divide30"></div>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
      <div class="login-form">
        <h3>Reset Password</h3>
        <form role="form" method="post">
          <p>Your password has been reset. Please check you mail.</p>
          <p> <a href="/User/SignIn"> <b>Sign in&nbsp;</b></a>with your new password.</p>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="divide60"></div>
