@model WebApplication3.Models.ViewModel.EmailModel
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="divide30"></div>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
      <div class="login-form">
        <h3>Reset Your Password</h3>
         <form role="form" method="post">
          <div class="form-group">
            <label for="email">Email address</label>
            @Html.TextBoxFor(model => model.EmailId)
          </div>
          <button type="submit" value="Submit" class="btn btn-theme-bg">Reset</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="divide60"></div>
