@{
    ViewBag.Title = "UserDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UserDashboard</h2>

<div class="panel panel-default">
  <div class="panel-heading">Geojson Polygons</div>
  <div class="panel-body"></div>
</div>
