@model WebApplication3.Models.ViewModel.UserSavedPolygonsView
@{
    ViewBag.Title = "UserDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UserDashboard</h2>

<div class="row">
    
    <div class="col-md-2" >
        <div class="panel panel-default">
            <div class="row">
                <div class="col-xs-12">
                    <a href="#" class="thumbnail"><img data-src="holder.js/100%x180" alt="100%x180" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgdmlld0JveD0iMCAwIDE3MSAxODAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MTgwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTUwZGRhZTY1MDkgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNTBkZGFlNjUwOSI+PHJlY3Qgd2lkdGg9IjE3MSIgaGVpZ2h0PSIxODAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSI1OS41NjI1IiB5PSI5NC41Ij4xNzF4MTgwPC90ZXh0PjwvZz48L2c+PC9zdmc+" data-holder-rendered="true" style="height: 180px; width: 110%; display: block;"/></a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">Geojson Polygons</div>
          <div class="panel-body">
              @foreach (var i in Model.UserPolygons)
              {
                    <div class="row polygon-row-dashboard" >
                        <div class="col-xs-3"></div>
                        <div class="col-xs-4">@Html.DisplayFor(m => i.GeoJsonId)</div>
                        <div class="col-xs-5 polygon-operations">
                            <a href="undefined/landscape/homeownermng" data-http-method="delete" class="http-action-link"> 
                            <span class="fa fa-remove fa-lg"></span>&nbsp; Delete</a>

                           <a href="undefined/landscape/homeownermng"> <span class="fa fa-map-o fa-lg"></span>&nbsp; Edit</a>

                           
                      </div>
                  </div>
              }
          </div>
        </div>
    </div>
</div>

