@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="divide30"></div>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
      <div class="login-form">
        <h3>Reset Your Password</h3>
        <form method="post" action="ProcessRequest.cshtml">
          <div class="form-group">
            <label for="email">Email address</label>
            <input id="EmailId" type="email" name="EmailId" placeholder="Enter email" class="form-control"/>
          </div>
          <button type="submit" value="Submit" class="btn btn-theme-bg">Reset</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="divide60"></div>
