@{
    ViewBag.Title = "PostAnswer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PostAnswer</h2>
<div class="divide30"></div>


<div class="container">
    <h4>Question</h4>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 answer-quest">
            <div class="col-sm-10">
                <div class="row ">
                    <div class="col-sm-1">vote</div>
                    <div class="col-sm-8">
                        <div class="row">question title</div>
                        <div class="row">question content</div>
                    </div>
                    <div class="col-sm-3">question details</div>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>    
    </div>
    <hr />
    <h4>Answers</h4>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 answers">
            <div class="col-sm-10">
                <div class="row ">
                    <div class="col-sm-1">vote</div>
                    <div class="col-sm-8">
                        <div class="row">answer title</div>
                        <div class="row">answer content</div>
                    </div>
                    <div class="col-sm-3">answer details</div>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>    
    </div>

    <hr />
    
    <h4>Post Answer</h4>
    <form method="post" >
        <div class="divide20"></div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-xs-10">
                <div class="AnswerContent"></div>
            </div>
        </div>
    
        <div class="divide20"></div>
        <div class="row final-buttons">
            <div class="col-sm-1"></div>
           <div class="col-xs-10">
                <a href="#" class="btn border-black">Preview</a>
                <div id="SubmitQuestion" class="btn btn-theme-bg">
                    <btn onclick="SubmitQuestion" >Submit </btn>
                </div>
            </div>
        </div>  
    </form>
</div>

<div class="divide30"></div>

<script type="text/javascript">
    $('document').ready(function () {
        textboxio.replaceAll('.AnswerContent');

        document.getElementById('SubmitQuestion').onclick = function () {
            // Get the active editor
            var editor = textboxio.getActiveEditor();
            var subject = $('#QuestionSubject').val();
            console.log(subject);
            // Retrieve the contents of the active editor
            var content = editor.content.get();
            
                $.ajax({
                    type: "POST",
                    url: '@(Url.Action("PostQuestion", "QA"))',
                    data: { 'qa_subject': subject, 'qa_content': content },
                success: function (apiResult) {
                    location.href = "/QA/QAIndex";
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("jhj" + textStatus);
                }
                });
            
            
        };
    });
</script>