@{
    ViewBag.Title = "PostAnswer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PostAnswer</h2>
<div class="divide30"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 answer-quest">
            <div class="col-sm-10">
                <div class="row ">
                    <div class="col-sm-1">vote</div>
                    <div class="col-sm-8">
                        <div class="row">question title</div>
                        <div class="row">question content</div>
                    </div>
                    <div class="col-sm-3">question details</div>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>    
    </div>

    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 answers">
            <div class="col-sm-10">
                <div class="row ">
                    <div class="col-sm-1">vote</div>
                    <div class="col-sm-8">
                        <div class="row">question title</div>
                        <div class="row">question content</div>
                    </div>
                    <div class="col-sm-3">question details</div>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>    
    </div>
</div>

<div class="divide30"></div>