@{
    ViewBag.Title = "PostQuestion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="divide20"></div>
<div class="divide20"></div>

<form data-toggle="validator" role="form" method="post" >
    <div class="row" >
        <div class="col-sm-1"></div>
        <div class="form-group col-xs-10 ">
            <input id="QuestionSubject" type="text" name="title" placeholder="Question subject" class="form-control" required/>
            <div class="help-block with-errors"></div>
        </div>
    </div>
    <div class="divide20"></div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-xs-10">
            <div class="QuestionContent" class="form-group" required ></div>
            <div class="help-block with-errors"></div>
        </div>
    </div>
    
    <div class="divide20"></div>
    <div class="form-group row final-buttons">
        <div class="col-sm-1"></div>
       <div class="col-xs-10">
            <div id="SubmitQuestion" >
                <btn class="btn btn-theme-bg" onclick="SubmitQuestion" >Submit </btn>
            </div>
            <a href="/QA/QAIndex" class="btn border-black">Cancel</a>
            
        </div>
    </div>
</form>
<div class="divide20"></div>

<script type="text/javascript">
    $('document').ready(function () {
        textboxio.replaceAll('.QuestionContent');

        document.getElementById('SubmitQuestion').onclick = function () {
            // Get the active editor
            var editor = textboxio.getActiveEditor();
            var subject = $('#QuestionSubject').val();
            console.log(subject);
            // Retrieve the contents of the active editor
            var content = editor.content.get();
            
                $.ajax({
                    type: "POST",
                    url: '@(Url.Action("PostQuestion", "QA"))',
                    data: { 'qa_subject': subject, 'qa_content': content },
                success: function (apiResult) {
                    location.href = "/QA/QAIndex";
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("jhj" + textStatus);
                }
                });
            
            
        };
    });
</script>