@{
    ViewBag.Title = "QA";
}

<div class="divide30"></div>

<div class="container main-qa">
    <div class="row">
        <div class="col-xs-3 col-xs-offset-1">
            <a href="undefined/qa/posting" class="btn btn btn-theme-dark"> <i class="fa fa-plus"></i>NEW QUESTION</a>
        </div>
        <div class="col-xs-8 tabs">
            <ul class="nav nav-tabs">
            <li role="presentation"><a href="#">NEWEST</a></li>
            <li role="presentation"><a href="#">FREQUENT</a></li>
            <li role="presentation"><a href="#">VOTES</a></li>
            <li role="presentation"><a href="#">ACTIVE</a></li>
            <li role="presentation"><a href="#">UNANSWERED</a></li>
            </ul>
        </div>
    </div>
<hr/>
</div>