@using System.Xml;
@{
    ViewBag.Title = "OfficialBlog";
}
<div class="divide10"></div>
<h2 class="title text-center">OFFICIAL BLOG</h2>
<div class="divide80"></div>
<div class="container blog-left-img">
    <div class="row">
        <div class="col-md-8">
            <div class="blog-post">
                <div class="row">
                    <div class="col-md-6 margin20">
                        <a href="blogs/first-blog">
                            <div class="item-img-wrap">
                                <img src="http://fireant.tamu.edu/files/2012/10/IMG0003.jpg" alt="workimg" class="img-responsive" />
                                <div class="item-img-overlay"><span></span></div>
                            </div>
                        </a>
                        <!-- work link-->
                    </div>
                    <div class="col-md-6 margin20">
                        <ul class="list-inline post-detail">
                            <li>by <a href="#">FASIDS OFFICIAL</a></li>
                            <li><i class="fa fa-calendar"></i> 31st july 2014</li>
                            @*<li><i class="fa fa-tag"></i><a href="#">Knowledge</a></li>*@
                        </ul>
                        <h2><a href="blogs/first-blog">How can I tell if I have fire ants?</a></h2>
                        <p>You can tell you have fire ants if you see a mound of fluffy worked soil, particularly a few days after a heavy rain....</p>
                        <p><a href="http://fireant.tamu.edu/manage/how-can-i-tell-if-i-have-fire-ants/" class="btn btn-theme-dark">Read More...</a></p>
                    </div>
                </div>
                <div class="divide30"></div>
                <div class="row">
                    <div class="col-md-6 margin20">
                        <a href="blogs/first-blog">
                            <div class="item-img-wrap">
                                <img src="http://fireant.tamu.edu/files/2015/05/Wordpress-Cover-Ant-Story-11-3-16-585x305.jpg" alt="workimg" class="img-responsive" />
                                <div class="item-img-overlay"><span></span></div>
                            </div>
                        </a>
                        <!-- work link-->
                    </div>
                    <div class="col-md-6 margin20">
                        <ul class="list-inline post-detail">
                            <li>by <a href="#">FASIDS OFFICIAL</a></li>
                            <li><i class="fa fa-calendar"></i> 31st july 2014</li>
                           @* <li><i class="fa fa-tag"></i><a href="#">Knowledge</a></li>*@
                        </ul>
                        <h2><a href="blogs/first-blog">Managing Fire Ants for Specific Sites</a></h2>
                        <p>There are many options for managing various kinds of fire ant problems. When using pesticides, use only products labeled for the location....</p>
                        <p><a href="http://fireant.tamu.edu/manage/site/" class="btn btn-theme-dark">Read More...</a></p>
                    </div>
                </div>
                <div class="divide30"></div>
                <div class="row">
                    <div class="col-md-6 margin20">
                        <a href="blogs/first-blog">
                            <div class="item-img-wrap">
                                <img src="http://today.agrilife.org/wp-content/uploads/2012/10/fire-ants.jpg" alt="workimg" class="img-responsive" />
                                <div class="item-img-overlay"><span></span></div>
                            </div>
                        </a>
                        <!-- work link-->
                    </div>
                    <div class="col-md-6 margin20">
                        <ul class="list-inline post-detail">
                            <li>by <a href="#">FASIDS OFFICIAL</a></li>
                            <li><i class="fa fa-calendar"></i> 31st july 2014</li>
                            @*<li><i class="fa fa-tag"></i><a href="#">Knowledge</a></li>*@
                        </ul>
                        <h2><a href="blogs/first-blog">AgriLife Extension Community Fire Ant Control Program A Template for Success</a></h2>
                        <p>For more than a decade, Texas A&M AgriLife Extension Service integrated pest management program specialist Wizzie Brown....</p>
                        <p><a href="http://fireant.tamu.edu/agrilife-extension-community-fire-ant-control-program-a-template-for-success/" class="btn btn-theme-dark">Read More...</a></p>
                    </div>
                </div>
                <div class="divide30"></div>
                <div class="row">
                    <div class="col-md-6 margin20">
                        <a href="blogs/first-blog">
                            <div class="item-img-wrap">
                                <img src="http://landscapeipm.tamu.edu/files/2012/08/mound_sidewalk_0031_drees.jpg" alt="workimg" class="img-responsive" />
                                <div class="item-img-overlay"><span></span></div>
                            </div>
                        </a>
                        <!-- work link-->
                    </div>
                    <div class="col-md-6 margin20">
                        <ul class="list-inline post-detail">
                            <li>by <a href="#">FASIDS OFFICIAL</a></li>
                            <li><i class="fa fa-calendar"></i> 31st july 2014</li>
                           @* <li><i class="fa fa-tag"></i><a href="#">Knowledge</a></li>*@
                        </ul>
                        <h2><a href="blogs/first-blog">Fire Ant Habitat</a></h2>
                        <p>During the nuptial flight of ants, when winged males and female ants couple and mate....</p>
                        <p><a href="http://fireant.tamu.edu/learn/fire-ant-habitat/" class="btn btn-theme-dark">Read More...</a></p>
                    </div>
                </div>
                <div class="divide30"></div>
                <div class="row">
                    <div class="col-md-6 margin20">
                        <a href="blogs/first-blog">
                            <div class="item-img-wrap">
                                <img src="http://fireant.tamu.edu/files/2012/10/IMG0005.jpg" alt="workimg" class="img-responsive" />
                                <div class="item-img-overlay"><span></span></div>
                            </div>
                        </a>
                        <!-- work link-->
                    </div>
                    <div class="col-md-6 margin20">
                        <ul class="list-inline post-detail">
                            <li>by <a href="#">FASIDS OFFICIAL</a></li>
                            <li><i class="fa fa-calendar"></i> 31st july 2014</li>
                            @*<li><i class="fa fa-tag"></i><a href="#">Knowledge</a></li>*@
                        </ul>
                        <h2><a href="blogs/first-blog">Organizing a Community-Wide Fire Ant Suppression Program</a></h2>
                        <p>Ouch! The stinging effects of the imported fire ant in Texas can be felt in economic as well as health terms....</p>
                        <p><a href="http://fireant.tamu.edu/manage/community/" class="btn btn-theme-dark">Read More...</a></p>
                    </div>
                </div>
             </div>
            
            @*<ul class="pager">
                <li class="previous"><a href="#">← Previous Page</a></li>
                <li class="next"><a href="#">Next Page →</a></li>
            </ul>*@
        </div>


        <div class="col-md-3 col-md-offset-1">
            <div class="sidebar-box margin40">
                <h4>Search</h4>
                <form role="form" class="search-widget">
                    <input type="text" class="form-control" />
                </form>
            </div>
            <!-- sidebar-box closes-->
            <!-- sidebar-box closes-->
            <div class="sidebar-box margin40">
                <h4>Categories</h4>
                <ul class="list-unstyled cat-list">
                    <li><a href="http://fireant.tamu.edu/learn/">Knowledge &nbsp;&nbsp;</a><i class="fa fa-angle-right"></i></li>
                    <li><a href="http://fireant.tamu.edu/materials/videos/">Videos &nbsp;&nbsp;</a><i class="fa fa-angle-right"></i></li>
                    <li><a href="http://fireant.tamu.edu/controlmethods/products/">Product &nbsp;&nbsp;</a><i class="fa fa-angle-right"></i></li>
                   @* <li><a href="#">Media &nbsp;&nbsp;</a><i class="fa fa-angle-right"></i></li>*@
                    <li><a href="http://fireant.tamu.edu/materials/marketing/">Marketing &nbsp;&nbsp;</a><i class="fa fa-angle-right"></i></li>
                </ul>
            </div>
            <!-- sidebar-box closes-->
            <div class="sidebar-box margin40">
                @*<h4>Popular Post</h4>*@
                @*<ul class="list-unstyled popular-post">
                    <li>
                        <img src='http://fireant.tamu.edu/files/2012/10/IMG0003.jpg' class="popular-img">
                        <div class="popular-desc">
                            <h5><a href="undefined/blogs/first-blog">How can I tell if I have fire ants?</a></h5>
                            <h6>Jan. 11 2016</h6>
                        </div>
                    </li>
                    <li>
                        <img src='~/Content/Blog/img-9.jpg' class="popular-img">
                        <div class="popular-desc">
                            <h5><a href="undefined/blogs/first-blog">blog post image</a></h5>
                            <h6>31st july 2014</h6>
                        </div>
                    </li>
                    <li>
                        <img src='~/Content/Blog/img-9.jpg' class="popular-img">
            
                        <div class="popular-desc">
                            <h5><a href="undefined/blogs/first-blog">blog post image</a></h5>
                            <h6>31st july 2014</h6>
                        </div>
                    </li>
            </ul>*@
              <ul id="rss-4" class="widget-container widget_rss">
                <div class="widget-wrap">
                    <h3 class="widget-title">
                        <a class="rsswidget" href="http://www.extension.org/feeds/content/fire%20ants"><img class="rss-widget-icon" style="border:0" width="14" height="14" src="http://fireant.tamu.edu/wp-includes/images/rss.png" alt="RSS"></a> <a class="rsswidget" href="http://articles.extension.org/">The Latest from e-eXtension</a>
                    </h3>
                    <ul>
                        <li><a class="rsswidget" href="http://articles.extension.org/pages/12254/fire-ant-control-made-easy-video">Fire Ant Control Made Easy Video</a></li>
                        <li><a class="rsswidget" href="http://articles.extension.org/pages/62381/imported-fire-ants-community-page">Imported Fire Ants Community Page</a></li>
                        <li><a class="rsswidget" href="http://articles.extension.org/pages/9730/imported-fire-ants-membership">Imported Fire Ants Membership</a></li>
                        <li><a class="rsswidget" href="http://articles.extension.org/pages/65021/fire-ant-quarantines-and-regulations">Fire Ant Quarantines and Regulations</a></li>
                        <li><a class="rsswidget" href="http://articles.extension.org/pages/59903/additional-information-about-the-interactive-imported-fire-ant-map">Additional Information about the Interactive Imported Fire Ant Map</a></li>
                        <li><a class="rsswidget" href="http://articles.extension.org/pages/14345/fire-ant-control:-the-two-step-method-and-other-approaches">Fire Ant Control: The Two-Step Method and Other Approaches</a></li>
                        <li><a class="rsswidget" href="http://articles.extension.org/pages/74016/2017-all-bugs-good-and-bad-webinar-series">2017 All Bugs Good and Bad Webinar Series</a></li>
                        <li><a class="rsswidget" href="http://articles.extension.org/pages/11278/identifying-fire-ants">Identifying Fire Ants</a></li>
                        <li><a class="rsswidget" href="http://articles.extension.org/pages/11005/other-impacts-of-fire-ants">Other Impacts of Fire Ants</a></li>
                        <li><a class="rsswidget" href="http://articles.extension.org/pages/9648/imported-fire-ants-contents">Imported Fire Ants Contents</a></li>
                    </ul>
                </div>
            </ul>  

                    @{
                        //Get the XML from remote URL
                        XmlDocument xml = new XmlDocument();
    
                        //URL currently hardcoded - but you could use a macro param to pass in URL
                        xml.Load("http://www.extension.org/feeds/content/fire%20ants");
    
                        //Select the nodes we want to loop through
                        XmlNodeList nodes = xml.SelectNodes("//item");
    
                <ul id="rss-4" class="widget-container widget_rss">
                <div class="widget-wrap">
                    <h3 class="widget-title">
                        <a class="rsswidget" href="http://www.extension.org/feeds/content/fire%20ants"><img class="rss-widget-icon" style="border:0" width="14" height="14" src="http://fireant.tamu.edu/wp-includes/images/rss.png" alt="RSS"></a> <a class="rsswidget" href="http://articles.extension.org/">The Latest from e-eXtension</a>
                    </h3>
                    <ul>
                    @foreach (XmlNode node in nodes)
                    {
                        var title = node.SelectSingleNode("title").InnerText;

                        //Get the value from the <description> node
                        var link = node.SelectSingleNode("link").InnerText;
                       <li><a class="rsswidget" href=@link> @title </a></li>   
                    }
                    </ul>
                </div>
            </ul>

        </div>
            <!-- sidebar-box-->
            <div class="sidebar-box margin40">
                <h4>Tag Cloud</h4>
                <div class="tag-list"><a href="#">Wordpress</a><a href="#">Design</a><a href="#">Graphics</a><a href="#">Seo</a><a href="#">Development</a><a href="#">Marketing</a><a href="#">fashion</a><a href="#">Media</a><a href="#">Photoshop</a></div>
            </div>
        </div>
        <!-- sidebar-col-->
    </div>
</div>